apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ .Chart.Name }}-config
  namespace: {{ .Release.Namespace }}
data:
  config.yaml: |
{{ .Values.config | toYaml | indent 4 }}
    namespace: {{ .Release.Namespace | quote }}
